#!/bin/sh
# init script for the chumby demo mode - no integration in chumby runtime.
BASEPATH=/mnt/storage/usr
DAEMON_BIN=$BASEPATH/bin/chumbydaemon.lua
DAEMON_CONFIG=$BASEPATH/etc/daemonconfig.lua
FLASHPLAYER_BIN=/usr/bin/chumbyflashplayer.x
WIDGET_SWF=$BASEPATH/widgets/currentpower.swf

if [ -e $DAEMON_BIN ]; then
	if [ -e $DAEMON_CONFIG ]; then
		echo "Starting msg-chumby-daemon"
		$BASEPATH/bin/lua $DAEMON_BIN $DAEMON_CONFIG &
		sleep 1
		/usr/sbin/httpd -p 3000 -h /tmp/www
	else
		echo "Daemon config not found - aborting."
		exit
	fi
else
	echo "Daemon executable not found - aborting."
	exit
fi

if [ -x $FLASHPLAYER_BIN ]; then
	if [ -e $WIDGET_SWF ]; then
		echo "Starting flashplayer with widget"
		$FLASHPLAYER_BIN -i $WIDGET_SWF &
	else
		echo "Widget not found - aborting."
		exit
	fi
else
	echo "flashplayer executable not found - aborting."
	exit
fi

echo "msg-init.rc finished."
